.navbar-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.nav-item {
    margin: 5px 10px;
    width: 150px;
}

.navbar-nav {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 50px;
    width: 100%;
    background-color: white;
}
